body{
  margin: 0px;
}

#header{
  text-align: center;
}

#header h1{
  font-size: 26px;
}

/* General Button Styling */
button{
  background-color: #666666;
  color: white;
}

#main_image{
	display: block;
    margin: auto;
    min-width: 800px;
    min-height: 600px;
    max-width: 70%;
    max-height: 50%;
    border: 1px solid black;
}

/*Export Collage Button */
#container button{
  position: absolute;
  top: 70%;
  left: 87.5%;
  margin-left: 20px;
}

/*Main collage css */
/* #main_collage{
  min-width: 800px;
  min-height: 600px;

  max-width: 70%;
  max-height: 50%;

  this centers the collage in the middle
  margin: auto auto;
  border: 1px solid black
} */

#main_img{
  width: 100%;
  height: 100%;
}

/*Error message by default hidden, can enable by setting display to "block" */
#error{
  display: none;
  text-align: center;
}

#error h2{
  font-size: 18px;
}

/* centered input and button */
#input{
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

#input input{
  border: 1px solid grey;
}

#input button{
  margin-left: 10px;
}

#history{
  width: 1000px;
  height: 100px;
  margin: auto auto;
  margin-top: 20px;
  border: 1px solid red;
  overflow-x: scroll;
  white-space: nowrap;

}

#history img{
  width: 150px;
  height: 80px;
  padding-top: 10px;
  margin-left: 35px;
  margin-right: 35px;
}
